

<div class="card" style="width: 18rem;">
    <img src="/public/preview.png" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Un helado en bolsa que dejan una esquina libre, asemejando un seno femenino.</p>
      <p class="card-text">Sabores: maracuya, chocolate, Coco, piña, tres leches...</p>

    </div>
  </div>


